$green__background: #008766;
$green__background2: #99E2D0;
$purple: #9356DC;
$pink:#FF79DA;
$main__text--color:#353535;
$main__bg--color: white;
$box__shadow--color:#00000026;
$section__bg--color:#f6f6f6;

html {
    overflow-x: hidden;
}

.loader {
    width: 48px;
    height: 40px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    background: $main__bg--color;
    border-radius: 15% 15% 35% 35%;

    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 45px;
        top: 8px;
        border: 4px solid $main__bg--color;
        width: 16px;
        height: 20px;
        border-radius: 0 4px 4px 0;
    }

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 10px;
        color: $main__bg--color;
        top: -15px;
        left: 11px;
        box-sizing: border-box;
        animation: animloader 1s ease infinite;
    }
}

@keyframes animloader {
    0% {
        box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
    }
}

.loader-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: linear-gradient($pink, $purple);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 1.5s 1.5s forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.fa-ustensils,
.fa-handshake-angle {
    &:hover {
        text-decoration: none;
    }
}

.card__title,
.card__subtitle,
.partnership__text {
    &:hover {
        text-decoration: underline
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    margin: 0px;
    animation: fadein 5s 1.5s;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', serif;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__loge {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 10px 0px;
        box-shadow: 0px 4px 15px 0px $box__shadow--color;
        position: relative;
        z-index: 1;
    }

    &__image {
        width: 195.57px;
        height: 33.44px;
    }

    &__text__icon {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        padding: 10px 0px;
        background-color: #e6e6e6;
    }

    &__localisation {
        font-family: 'roboto';
        font-weight: 700;
    }
}

.section--first {
    display: flex;
    justify-content: center;
    background-color: $section__bg--color;
    padding: 30px 0px 60px 0px;
}

.first__section {
    &__main {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__title {
        text-align: center;
        padding: 0px 45px;
        font-size: 24px;
        font-family: 'roboto';
    }

    &__text {
        text-align: center;
        padding: 0px 25px;
        font-size: 18px;
        font-family: 'roboto';
    }
}

.button {
    &__positionning {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 80px;
    }

    &__style {
        background: linear-gradient($pink,$purple);
        border-radius: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 15px 15px;
        box-shadow: 0px 4px 15px 0px $box__shadow--color;
        cursor: pointer;
        transform: scale(1);
        opacity: 1;

        &:hover {
            transform: scale(1.015);
            opacity: 0.85;
            transition: opacity .5s, transform .5s;
        }
    }

    &__text {
        color: $main__bg--color;
        font-family: 'roboto';
    }
}

.section--second {
    padding: 0px 0px 0px 20px;
}

.second__section {
    &__header {
        margin: 50px 0px 40px 0px;
    }
}

.function {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title {
        font-family: 'roboto';
    }

    &__step {
        display: flex;
        align-items: center;
    }

    &__button {
        border: none;
        width: calc(100% - 30px);
        height: 73px;
        background-color: $section__bg--color;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px $box__shadow--color;
        margin-left: -10px;
        display: flex;
        align-items: center;

        &__text {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

.button__content {
    position: absolute;
    margin-left: 20px;
}

@keyframes fadeinright {
    0% {
        transform: translateX(1500px);
    }

    100% {
        transform: translateX(0px);
    }
}

.first__appear {
    animation: fadeinright 4s 1s both;
}

.second__appear {
    animation: fadeinright 4s 2s both;
}

.third__appear {
    animation: fadeinright 4s 3s both;
}

.forth__appear {
    animation: fadeinright 4s 4s both;
}

.fifth__appear {
    animation: fadeinright 4s 5s both;
}

.sixth__appear {
    animation: fadeinright 4s 6s both;
}

.seven__appear {
    animation: fadeinright 4s 7s both;
}

.cercle-info {
    background-color: $purple;
    color: $main__bg--color;
    width: 24px;
    height: 24px;
    border-radius: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.fa-store {
    color: $purple;
    margin-right: 20px;
}

.fa-list,
.fa-mobile-screen-button {
    color: #7E7E7E;
    margin-right: 20px;
}

.section--third {
    margin-top: 70px;
    background-color: $section__bg--color;
    padding: 50px 0px;
}

.card {
    width: 100%;
    height: 251px;
    border-radius: 15px;
    background-color: $main__bg--color;
    margin-bottom: 18px;
    cursor: pointer;
    position: relative;

    &:hover {
        text-decoration: underline;
    }

    &__title {
        color: $main__text--color;
        margin-top: 10px;
        margin-left: 15px;
        font-family: 'roboto';
        text-decoration: underline;
    }

    &__subtitle {
        color: $main__text--color;
        margin-left: 15px;
        margin-top: -15px;
        font-size: 18px;
        font-family: 'roboto';
    }

    &__list__title {
        margin-bottom: 30px;
        margin-left: 20px;
        font-family: 'roboto';
    }

    &__informations {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
    }

    &__new {
        width: 80px;
        height: 29px;
        background-color: $green__background2;
        position: absolute;
        top: 12px;
        right: 13px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
            color:$green__background;
            font-family: 'Roboto', sans-serif;
        }
    }

    &__image {
        border-radius: 15px 15px 0px 0px;
        height: 170px;
        object-fit: cover;
    }

    &__text__heart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.heart {
    &-container {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-top: 15px;
    }

    &-clip {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        clip-path: url(#svgPath);

        &:focus::before {
            transform: scale(1);
            opacity: 1;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient($pink, $purple);
            opacity: 0;
            transform: scale(0);
            transition: transform 0.2s linear, opacity 0.2s linear;
            transform-origin: center 60%;
        }
    }

    &-stroke {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        fill: $main__text--color;
    }
}

.coeurplein {
    display: none;

    &__:checked + label .heart-clip::before {
        transform: scale(1);
        opacity: 1;
    }
}


.footer {
    background-color: $main__text--color;
    padding: 25px;

    &__logo {
        margin-bottom: 10px;
        font-size: 20px;
        color: $main__bg--color;
        font-family: 'Shrikhand';
    }
}

.partnership {
    &__information {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__text {
        color: $main__bg--color;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'roboto';
    }
}

@media screen and (min-width: 768px) {
    body {
        background:$main__bg--color;
    }

    .function {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0px;

        &__step {
            width: calc(100% / 3);
        }

        &__button__text {
            font-size: 12px;
        }
    }

    .fa-list,
    .fa-mobile-screen-button,
    .fa-store {
        margin-right: 10px;
    }

    .card {
        width: calc(100% / 2 - 30px);
        margin-bottom: 50px;

        &__informations {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 858px) {
    .footer {
        display: flex;
        flex-direction: row-reverse;
        gap: 100px;

        &__logo {
            margin-bottom: 0px;
            margin-left: 20px;
        }
    }

    .partnership {
        display: flex;
        flex-direction: row;
        gap: 10px;


        &__information {
            flex-direction: row;
            justify-content: space-between;
            gap: 50px;
        }
    }


    .information {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

}

@media screen and (min-width: 896px) {
    .function__button__text {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .section--second {
        padding: 0px 180px;
    }

    .function__button__text {
        font-size: 12px;
    }

    .section--third {
        padding: 10px 150px;
    }

    .card {
        width: calc(100% / 2 - 50px);
        margin-bottom: 50px;
    }
}