$green__background: #008766;
$green__background2: #99E2D0;
$purple: #9356DC;
$pink:#FF79DA;
$main__text--color:#353535;
$main__bg--color: white;
$box__shadow--color:#00000026;
$section__bg--color:#f6f6f6;